*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* Topo principal da pagina */
body{
  font-family: "Lato", sans-serif;
}

nav{
  background-color: #D9EFDE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#menu {
    background-color: #232E26;
}

a{
  font-size: large;
  color: #232E26;
  text-decoration: none;
}

.menu {
  padding: 16px 0;
}

nav .menu li{
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-title{
  color: #232E26;
  font-size: 18px;}

#contact {
  border: 1px solid #232E26;
  border-radius: 50px;
}


/*PRIMEIRAPÁGINA*/
#firstPage{
  background-color: #232E26; /* REVISAR ISSO AQUI */
  /* height: 90vh;
  width: 100%; */
  display: flex;
  flex-direction: column;
}

#about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#presentation {
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 8%;
  margin-right: 12%;
  color: black;
  font-size: 35px;
  letter-spacing: 2px;
}

#imgPresentation {
  flex-direction:row;
  width: 95%;
  border-radius: 10px;
  
}

.nameSite{
  color: #D9EFDE;
}

.textPresentation {
  color: #D9EFDE;
  margin-right: 12%;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}

/*Botão*/
#buttao{
    width: fit-content;
    height: fit-content;
}

#enterContact {
  background-color: #D9EFDE;
  color: black;
  padding: 12px 30px;                               /*RESOLVER*/
  font-size: 15px;
  border-radius: 30px;
  border: none;
}

#enterContact:hover{
  box-shadow: 0px 0px 4px #D9EFDE;
  transition: .3s;
  transform: scale(1.1);
}



/*SEGUNDA PÁGINA*/
#news {
  background-color:#D9EFDE;
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  box-sizing: border-box;
  border-radius: 40px;
}

.article {
  display: inline;
  align-items: center;
  gap: 32px;
  > img {
      height: 230px;
      /* border-radius: 8px; */
  }
}

.content {
  /*display: flex;*/
  flex-direction: column;
  gap: 20px;

  > .authorName{
      font-size: 12px;
  }

  > .article-title {
      font-weight: 700;
  }

  > .article-paragraph {
      font-weight: 400;
      color: #6D6E76;
  }

  > button {
      width: 120px;
      border: none;
      padding: 16px;
      background-color: #FFD050;
      font-weight: 700;
      cursor: pointer;
      /* border-radius: 8px; */
  }

  > button:hover {
      background-color: #ffd050d0;
  }
}


/*TERCEIRA PÁGINA*/
#motivational {
    color: #D9EFDE;
    background-color: #232E26;
    padding: 60px 120px;
}

#textMotivational{
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#textAuthor {
  font-size: 48px;
}

.authorPhrase {
    font-size: 14px;
}


/*Faça parte da nossa equipe - última parte*/
#enterTeam {
  background-color: #D9EFDE;
  border-radius: 40px;
  flex:6;
  width: 100%;
  padding: 30px 0px;
}

.title{
    margin: 40px;
}

.ourTeam{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.personalCard{
    background: #F4F4F4;
    height: 324px;
    width: 305px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align:  center;
}

.personalName{
    color: #232E26;
    font-size: 24px;
    line-height: 27px;
    margin-left: 5%;
    margin-right: 5%;
}

#informationTeam{
  margin: 40px 200px 0 200px;
}

.finally{
  display: flex;
  justify-content: center;
}

button{
  background-color: #FFD050; 
  border: none;
  color: black; 
  padding: 15px 32px; 
  text-align: center; 
  display: inline-block; 
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px; 
  margin-block-end: 40px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*FOOTER*/
/* Rodapé principal da pagina*/
footer {
    height: 150px;
    background-color: #232E26;
    padding: 50px 100px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D9EFDE;

    > hr {
        color: #F2F4F8;
    }
}

.footer-text {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
/* Rodapé principal da pagina* - FIM/